.valueTitle {
  font-family: "Play", sans-serif;
  font-size: 20px;
  text-decoration: none;
  background-image: linear-gradient(90deg, #000b23, #000b23 98%);
  background-position: 0 100%;
  background-repeat: no-repeat;
  background-size: 0 2px;
  transition: background-size 0.3s;
  display: block;
  padding-top: 5px;
  margin: 0;
}
